/*
 * Main CSS File
 * css/main.css
 */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0183c7;
  font-family: 'Source Sans Pro', Verdana, Geneva, sans-serif;
  font-weight: 300;
  line-height: 1.42757143;
  font-size: 14px;
  color: #fff;
  /* Margin bottom by footer height */
  margin-bottom: 700px;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  color: #fff;
  padding-top: 20px;
  bottom: 0;
  position: absolute;
  margin-top: 30px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

footer ul {
  list-style-type: none;
  padding: 0 0 15px 0;
}

footer ul li a {
  padding: 5px;
  display: block;
}

footer ul li a.social {
  color: #0183c7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.1;
  margin-bottom:10px;
  margin-top:10px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:focus {
  color: #eee;
}

a.logo {
  padding: 20px 0 20px 0;
  display: block;
}

p {
  font-weight: 100;
  margin-bottom: 10px;
}

/* Clearfix hack see http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.row:after {
  clear: both;
}

.mobile-nav {
  display: none;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  margin-left: -15px;
  margin-right: -15px;
}

.mobile-dropdown-menu > li > a {
  padding: 8px 25px;
  font-size: 15px;
  display: block;
  font-weight: 300;
  white-space: nowrap;
}

.mobile-dropdown-menu .seperator {
  background-color: rgba(255, 255, 255, 0.2);
  height: 1px;
  margin: 10px 0;
}

.mobile-dropdown-menu {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 12;
  display: none;
  float: left;
  padding: 5px 0;
  margin: 0;
  list-style: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}


.col {
  width: 100%;
  float: left;
}

.col-mobile-8 {
  width: 66.66666667%;
}

.col-mobile-6 {
  width: 50%;
}

.col-mobile-4 {
  width: 33.33333333%;
}

.col-mobile-3 {
  width: 25%;
}

.col-mobile-2 {
  width: 16.66666667%;
}

.col-mobile-1 {
  width: 8.33333333%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Nominal Tablet */

@media(min-width: 768px) {
  
  body {
    /* Margin bottom by footer height */
    margin-bottom: 300px;
  }
  
  .col, .container > p {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  a.logo {
    padding-left: 15px;
  }
  
  .col-tablet-8 {
    width: 66.66666667%;
  }
  .col-tablet-6 {
    width: 50%;
  }
  .col-tablet-4 {
    width: 33.33333333%;
  }
  .col-tablet-3 {
    width: 25%;
  }
  .col-tablet-2 {
    width: 16.66666667%;
  }
  .col-tablet-1 {
    width: 8.33333333%;
  }
  .container {
    width: 735px;
  }
  .mobile-nav {
    display: block !important;
    border-top: none;
    float: right;
  }
  .mobile-nav > ul > li {
    float: left;
  }
  .navbar-header {
    float: left;
  }
}
/* Accessibility Utilities */

.visible-mobile,
.visible-tablet,
.visible-desktop {
  display: none !important;
}

@media(max-width: 768px) {
  
  .mobile-dropdown-menu {
    position: static;
    float: none;
    width: auto;
    box-shadow: none;
    background-color: transparent;
  }
  .hidden-mobile {
    display: none !important;
  }
  .visible-mobile {
    display: block !important;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .visible-tablet {
    display: block !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
/* Nominal Desktop */

@media(min-width: 992px) {
  .col-desktop-8 {
    width: 66.66666667%;
  }
  .col-desktop-6 {
    width: 50%;
  }
  .col-desktop-4 {
    width: 33.33333333%;
  }
  .col-desktop-3 {
    width: 25%;
  }
  .col-desktop-2 {
    width: 16.66666667%;
  }
  .col-desktop-1 {
    width: 8.33333333%;
  }
  .container {
    width: 960px;
  }
  .header {
    background-size: 100%;
  }
  .visible-desktop {
    display: block !important;
  }
  .hidden-desktop {
    display: none !important;
  }
}
/* Nominal Large Desktop */

@media(min-width: 1200px) {
  
  .container {
    width: 1160px;
  }
  
  .header > img {
      width: 100%;
  }
  
}


#carousel-pager {
  background-color: #fff;
  margin-bottom: 30px;
}

.card {
  background-color: rgba(0, 0, 0, 0.20);
  padding: 10px 15px;
  margin: 15px 0;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.3);
}

.card h2 {
  font-size: 24px;
  font-weight: 300;
}

nav {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 10;
  width: 100%;
}

.header {
  margin-bottom: 20px;
  height: 300px;
  overflow: hidden;
}

input, textarea {
  width: 100%;
}

.btn, input, button, textarea {
  padding: 6px 12px;
  line-height: 1.4;
  border: 1px solid transparent;
  color: #fff;
  font-family: inherit;
  font-weight:100;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: inherit;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: middle;
}

.btn:hover,
.btn:focus,
input:hover,
input:focus,
textarea:focus,
textarea:hover,
button:hover,
button:focus
{
  background-color: rgba(0, 0, 0, 0.3);
}

.mobile-nav > ul > li > a {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
  color: #fff;
  display: block;
  padding: 10px 15px;
  position: relative;
}

img.thumbnail {
  width:100%;
}

.logo > img {
  height: 50px;
  vertical-align: middle;
  border: 0;
}

.mobile-nav > ul > .active > a {
  background-color: #0183c7;
}

.mobile-nav > ul > li > a:hover,
.navbar-nav > li > a:focus {
  color: #ddd;
  text-decoration: none;
}

.banner p {
  position: absolute;
  bottom: 0;
  margin: 20px;
  right: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 20px;
  padding: 15px;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.3);
}

.banner {
  position: relative;
}

.mobile-nav > ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin: 0;
}

.mobile-nav-toggle {
  float: right;
  padding: 9px 0;
  margin-top: 22px;
  margin-right: 15px;
  color: #fff;
}


.mobile-dropdown {
  position: relative;
}

.container > p {
    padding-left: 15px;
    padding-right: 15px;
}

textarea {
    height: 150px;
}

.thumbnail-caption {
    margin-top: 0;
    text-align: center;
}

